.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 30px;
    width: 150px;
    margin: 5px auto;
    padding:1px;
    background-color:#f36e652f;
    color:#f44336;
    border-radius: 10px;
    border:1px solid #f44336;
}


.error-message{
    font-size: small
}